<nav class="navbar navbar-light bg-dark main-navbar">
  <a class="navbar-brand" href="#"  >
    <img src="/assets/icon.png" width="45" height="45" class="d-inline-block align-top" alt="">
    Unnamed antenna website
  </a>
</nav>
<main>
  <p style="margin-top: 1rem; color: red; font-weight: bold; padding: 0.5em; border: 1px solid red;">
    Disclaimer: This website is in Alpha and may contain bugs that can misrepresent results. Measurements are not taken in RF quite environment and can be influenced by outside factors.
  </p>
  <router-outlet></router-outlet>
</main>

